body{
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;
}

header {
    height: 8%;
}

main {
    margin-top: 8vh;
    height: 92%;
    width: 100vw;

    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}

.content{
    height: 94%;
    width: 80%;
    min-width: 350px;
    background: #fff;

    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;
}

.form-structor {
    border-radius: 15px;
    height: 550px;
    width: 350px;
}

.input-group{
    border: 1px solid rgb(148, 148, 148);
    border-radius: 10px;
    padding: 15px;
    margin: 5px 0;
    background: #1F9BCF;
   
}

.dias{
    display: flex;
    justify-content:space-between;
    align-items: center;
}

.radio-buttons{
    display: flex;
    align-items: center;
    margin: 10px;
     /* border: 1px solid red;*/
    /*justify-content:space-between;*/
}

/* vou mexer aqui */
.veiculo{
    margin-left: 20px;
    margin: 3px;
}
/* vou mexer aqui */

.dia{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}

.campos{
    width: 100%;
    margin: 5px;
    display: flex;
    justify-content:space-between;
    align-items: center;
    
    
}

.campos label{
    width: 25%;
    margin: 3px;
    margin-right: 10px;
}

.campos input{
    width: 80%;
   
   
}

.campos .dt{
    width: 50%;
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin-right: 10px;
}

.dt label{
    width: 40%;
    
}

.dt input{
    width: 100%;
}
h3{
<<<<<<< HEAD
    font-size: 20px;
}
=======
    font-size: 25px;
}

>>>>>>> 482fc8596e20ba74aaa4bf885f8ab42e5092467c
