body{
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;
}

header {
    height: 8%;
}

main {
    margin-top: 8vh;
    height: 92%;
    width: 100vw;

    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}

.content{
    height: 94%;
    width: 80%;
    min-width: 350px;
    background: #fff;

    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;
}

.form-structor {
    border-radius: 15px;
    height: 550px;
    width: 350px;
}

.input-group{
    border: 1px solid rgb(148, 148, 148);
    border-radius: 10px;
    padding: 15px;
    margin: 5px 0;
}

.dias{
    display: flex;
    justify-content:space-between;
    align-items: center;
}

.radio-buttons{
    display: flex;
    align-items: center;
     /* border: 1px solid red;*/
    /*justify-content:space-between;*/
}

/* vou mexer aqui */
.veiculo{
    margin-left: 20px;
}
/* vou mexer aqui */

.dia{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}

.campos{
    width: 100%;
    display: flex;
    justify-content:space-between;
    align-items: center;
}

.campos label{
    width: 20%;
}

.campos input{
    width: 80%;
}

.campos .dt{
    width: 50%;
    display: flex;
    justify-content:space-between;
    align-items: center;
}

.dt label{
    width: 40%;
}

.dt input{
    width: 60%;
}