:root {
    --color-box-shadow: #afafaf;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container {
    padding-top: 8vh;
    width: 100vw;
    height: 92vh;
}

.card-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 100%;
    height: 100%;
    align-items: flex-start;
    justify-items: center;
    color: var(--color-secondary);
}

.card {
    width: 96%;
    max-width: 400px;
    padding: auto;
    background: var(--color-background);
    border-radius: 10px;
}
.card p {
    margin:2px 0;
}

.card-content {
    width: 95%;
    height: 95%;
    background: var(--color-background-content);
    margin: 10px auto;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    box-shadow: 10px 10px 20px var(--color-box-shadow);
    transition: 0.3s all ease-in-out;
}

.card-content:hover {
    margin-top: -10px;
}

.card-header {
    text-transform: uppercase;
    font-size: 26px;
    margin: 5px auto;
}

.card-info {
    font-size: 22px;
}

.card-button {
    padding: 6px;
    width: 98%;
    border-radius: 50px;
    background: var(--color-primary);
    color: var(--color-secondary);
    font-size: 22px;
    cursor: pointer;
    border: none;
    margin: 20px auto;
}

@media (max-width: 1450px) {
    .card-container {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .card {
        margin-top: 10px;
    }
}

@media (max-width: 1150px) {
    .card-container {
        grid-template-columns: 1fr 1fr;
    }

    .card {
        margin-top: 10px;
    }
}

@media (max-width: 800px) {
    .card-container {
        grid-template-columns: 1fr;
    }

    .card {
        margin-top: 10px;
    }
}