form{
    border: 1px solid #ccc;
    float: left;
    padding: 18px;
    margin-left: auto;


}

img{
    padding-top: 20px;
    width:300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  
}
/*
.criarConta{
    text-align: center;
}
hr{
    opacity: 50%;
    width: 400px;
}
p{
    text-align:justify;
    padding-left: 20px;
    opacity: 50%;
    
}

.enviar{
    background-color:#00EBC7;
    height: 40px;
    width: 50px;
    border-radius: 20%;

}
.cancelar{
    background-color:#00EBC7;
    height: 40px;
    border-radius: 50%;

}
*/