.navbar {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
    background: var(--color-primary);
}


.item-1 {
    text-align: center;
    width: 60%;
    padding-left: 3px;
}

.item-2 {
    width: 40%;
}

.itens-navbar {
    display: flex;
    justify-content: right;
    text-align: center;
    min-width: 60px;
    margin-right: 10px;
}

.itens-navbar .img-home {
    border-radius: 50%;
    object-fit: cover;
    width: 45px;
    height: 45px;
}

.menu-options {
    list-style: none;
    display: flex;
    height: 7vh;
}

.nav-list {
    width: 100%;
    list-style: none;
    display: flex;
}

.nav-list li {
    border-radius: 15px;
    display: block;
    width: 20%;
    height: 7vh;
    line-height: 7vh;
    font-size: 30px;
    font-weight: bold;
    margin-right: 4px;
    text-align: center;
    cursor: pointer;
    opacity: 1;
    visibility: visible;
}

.nav-list a {
    border-radius: 15px;
    display: block;
    cursor: pointer;
    width: 100%;
    height: 100%;
}

.nav-list a:hover {
    background: var(--color-secondary);
    color: var(--color-primary);
    -webkit-transition: background 0.5s, color 0.5s;
    -moz-transition: background 0.5s, color 0.5s;
    -o-transition: background 0.5s, color 0.5s;
    transition: background 0.5s, color 0.5s;
}

.ativa {
    background: var(--color-secondary);
    color: var(--color-primary);
}

.mobile-menu {
    display: none;
    cursor: pointer;
}

.mobile-menu div {
    width: 32px;
    height: 3px;
    background: var(--color-secondary);
    margin: 8px;
    transition: 0.3s;
}

@media (max-width: 1200px) {
    .nav-list li {
        font-size: 26px;
    }
}

@media (max-width: 1000px) {
    .item-1 {
        width: 70%;
    }
}

@media (max-width: 900px) {
    .nav-list li {
        font-size: 24px;
    }
}

@media (max-width: 700px) {

    .nav-list li {
        font-size: 30px;
    }

    .item-1 {
        text-align: center;
        width: 20%;
    }

    .menu-options {
        position: absolute;
        top: 8vh;
        left: 0;
        width: 80vw;
        height: 92vh;
        background: var(--color-primary);
        transform: translateX(-100%);
        transition: transform 0.3s ease-in;
    }

    /*minha modificação*/


    /*minha modificação*/

    .nav-list {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .nav-list li {
        width: 95%;
        margin-top: 5px;
        margin-left: 0;
        opacity: 0;
        box-shadow: 5px 5px 10px var(--color-secondary-40);
    }

    .nav-list a {
        width: 100%;
        height: 100%;
    }

    .nav-list a:hover {
        box-shadow: none;
    }

    .itens-navbar .img-home {
        border-radius: 50%;
        object-fit: cover;
        width: 45px;
        height: 45px;
    }

    .item-2 {
        display: flex;
        justify-content: center;
        width: 20%;
    }

    .mobile-menu {
        display: block;
        margin-left: 10px;
    }

    @keyframes navLinkFade {
        from {
            opacity: 0;
            transform: translateX(-50px);
        }

        to {
            opacity: 1;
            transform: translateX(0);
        }
    }
}

.menu-options.active {
    transform: translateX(0);
}

.mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
    opacity: 0;
}

.mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
}