img{
    width: 120px;
    border-radius: 50%;
    display: block;
    margin-left: 60px;
}

figcaption{
    text-align: center;
}

hr{
    text-align: justify;
    width: 290px;
    margin-top: 0px;
    opacity: 50%;
   
}
form{
    width: 290px;
    height: 710px;
    border: 1px solid #ccc;
    padding: 15px;
    margin-left:12 ;
    border-style:none ;
}
input{
    border-style:none ;
    width: 290px;
    padding: 5px;
    font-size: 20px;
}
label{
    padding: 4px;
    font-size: 18px;
}

figcaption{
    opacity: 50%;
}

button{
    background-color: aqua;
    font-size: large;
    width: 200px;
    
}

.Alteracao,.cancelar{
    margin: 12px;
    width: 280px;
    height: 50px;
    border-radius: 15px;
    font-size: 30px;
}
.Alteracao{
    margin-top:40px;
}

.div-conteiner{
    max-width: 1200;
    width: 100%;
}
.formulario{
    max-width: 1200;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}