
img{
    width: 120px;
    border-radius: 50%;
    display: block;
    margin-left: 60px;
}

figcaption{
    text-align: center;
}

hr{
    text-align: justify;
    width: 350px;
    margin-top: 0px;
    opacity: 50%;
   
}
form{
    width: 350px;
    height: 710px;
    border: 2px solid #ccc;
    padding: 15px;
    margin-left:12 ;
    border-radius: 1rem;
   
}
input{
    border-style:none ;
    width: 290px;
    padding: 5px;
    font-size: 20px;
   
}

label{
    padding: 4px;
    font-size: 18px;
}

figcaption{
    opacity: 50%;
}

button {
    -webkit-tap-highlight-color: transparent;
    box-sizing: border-box;
    font-family: inherit;
    display: inline-block;
    text-align: center;
    border: 1px solid #007bff;
    padding: .375rem .75rem;
    font-size: 1.5rem;
    line-height: 1.5;
    border-radius: .25rem;
    color: #fff;
    background-color: #007bff;

    
}

button:hover{
      cursor: pointer;
  }
.Alteracao,.cancelar{
    margin: 12px;
    width: 280px;
   
    border-radius: 15px;
    font-size: 30px;
    
   
}
.Alteracao{
    margin-top:50px;
 
}

.div-conteiner{
    max-width: 1200;
    width: 100%;
     display: flex;
    justify-content: center;
    align-items: center;
}
.div-formulario{
    max-width: 1200;
    width: 100%;
   
}
