form{
    border: 1px solid #ccc;
    height: 100px;
    width: 300px;
    float: left;
    padding: 12px;
    margin-left: auto;


}

img{
    padding-top: 20px;
    width:300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  
}
h1{
    text-align: center;
}