/* -------------------- Inicio das configurações globais ------------------------------ */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,400&display=swap");

:root {
    /** primary **/
    --color-primary: #2FD3DA;
    --color-primary-60: rgb(47, 211, 218, 0.80);

    /** secondary **/
    --color-secondary: #0C227F;
    --color-secondary-40: rgba(12, 33, 127, 0.40);

    /** background **/
    --color-background: #EEEEEE;

    /** background content **/
    --color-background-content: #F5F5F5CC;
}

*,
*::before,
*::after {
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    background: var(--color-background);
    background-image: url(../img/abstract-city-30.jpeg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 1370px 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: var(--color-secondary);
}

/* -------------------- Fim das configurações globais ------------------------------ */


/* -------------------- Inicio das configurações de Conteudo ------------------------------ */
.limiter {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.content {
    background: var(--color-background-content);
    width: 96vw;
    height: 80vh;
    max-width: 476px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.c-loader {
    animation: is-rotating 1s infinite;
    border: 8px solid #fff;
    border-radius: 50%;
    border-top-color: var(--color-primary);
    height: 70px;
    width: 70px;
}

@keyframes is-rotating {
    to {
        transform: rotate(1turn);
    }
}

.off {
    display: none;
}

.button {

    background: var(--color-primary-60);
    color: var(--color-secondary);
    border-radius: 15px;
    display: block;
    width: 98%;
    
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    border: none;
    opacity: 1;
    visibility: visible;
    padding: 6px;
    margin: 20px auto;

}
.button:hover {

    background: var(--color-primary);
    color: var(--color-secondary);
    box-shadow: 5px 5px 10px var(--color-secondary-40);   
}


/*minha alteraçao*/
footer{
    width: 95%;
    position:fixed;
  
}
.button2{
    padding-top: 70px;
}

/*minha alteraçao*/

.logo img {
    max-width: 100%;
    max-height: 100%;
}

.form-box {
    width: 100%;
    height: 100%;
}

/* -------------------- Fim das configurações de Conteudo ------------------------------ */


/* -------------------- Inicio das medias Querys ------------------------------ */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 476px) {

    /* -------------------- Inicio das configurações de Conteudo ------------------------------ */

    /* -------------------- Fim das configurações de Conteudo ------------------------------ */
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {}

/* -------------------- Fim das medias Querys ------------------------------ */